PUID=1000
PGID=1000
TZ=Europe/Rome
HOMARR_PORT=7575
# generate with: openssl rand -hex 32
HOMARR_SECRET_ENCRYPTION_KEY=changeme
CONFIG_DIR=/srv/dev-disk-by-uuid-a36653d0-9781-4de1-b5ab-5275818d484c/mediacenter/configs