# compose.yml and utils.yml share this project; silence orphan warnings
COMPOSE_IGNORE_ORPHANS=true
PUID=1000
PGID=1000
TZ=Europe/Rome
UMASK_SET=022
RADARR_PORT=7878
SONARR_PORT=8989
LIDARR_PORT=8686
MYLAR3_PORT=8090
PROWLARR_PORT=9696
BAZARR_PORT=6767
UNMANIC_PORT=8888
FLARESOLVERR_PORT=8191
# for the commented-out services in compose.yml
# DELUGE_PORT=8112
# RDTCLIENT_PORT=6500
QBITTORRENT_PORT=8080
TAGR_PORT=3200
# external URL tagr uses for auth callbacks
TAGR_AUTH_URL=http://localhost:3200
# generate with: openssl rand -hex 32
TAGR_AUTH_SECRET=changeme
TAGR_PASSWORD=changeme
CONFIG_DIR=/root
DOWNLOADS_DIR=/mnt/media/downloads
MOVIES_DIR=/mnt/media/movies
SHOWS_DIR=/mnt/media/tvshows
ANIMATION_DIR=/mnt/media/tvshows
MUSIC_DIR=/mnt/media/music
COMICS_DIR=/mnt/media/comics