OWNCLOUD_PORT=8080
OWNCLOUD_DOMAIN=robbmediavault.local:8080
OWNCLOUD_TRUSTED_DOMAINS=robbmediavault.local,robbmediavault,robbvau.lt
OWNCLOUD_DB_NAME=owncloud
OWNCLOUD_DB_USERNAME=
OWNCLOUD_DB_PASSWORD=
OWNCLOUD_ADMIN_USERNAME=
OWNCLOUD_ADMIN_PASSWORD=
MYSQL_ROOT_PASSWORD=
OWNCLOUD_DIR=/srv/dev-disk-by-uuid-a36653d0-9781-4de1-b5ab-5275818d484c/cloud
CONFIG_DIR=/srv/dev-disk-by-uuid-a36653d0-9781-4de1-b5ab-5275818d484c/mediacenter/configs